<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prismwood">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewOrders"></activity>
        <activity android:name=".deleteit"></activity>
        <activity android:name=".searchResults" />
        <activity android:name=".splashScreen" />
        <activity android:name=".orderComplete" />
        <activity android:name=".addressDetails" />
        <activity android:name=".customerDetails" />
        <activity android:name=".cartDetails" />
        <activity android:name=".productDetails" />
        <activity android:name=".productsgrid" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>